.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #2E2D4E;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

h1 {
  color: #7158e2;
  margin-bottom: 20px;
}

.task-input {
  margin: 20px 0;
}

.task-input input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3e3d5f;
  color: #fff;
}

.task-input button {
  padding: 10px 20px;
  background-color: #497dff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #432cff;
  color: #8eaaf8;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 10px auto;
  width: 300px;
  border-radius: 5px;
  color: #fff;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: #888;
}

::placeholder {
  color: #8eaaf8;
}

.task-list button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.task-list button:hover {
  background-color: #cc0000;
}

.task-counters {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.task-counters p {
  margin: 0;
}